td {
width: 5vw;
border: 3px solid black;
text-align: center;
}
.h1{
    color: yellow;
}
.colprp {
    background-color: violet;
}
.colblu {
    background-color: blue;
}
.colylw {
    background-color:  gold;
}
.text{
    font-weight: bold;
}
.Ltcolblu {
    background-color: cornflowerblue;
}
.Cml {
 background-color: goldenrod;
}
.Fal {
background-color: firebrick;
}
.drkgrn {
 background-color: forestgreen;
}
.pnk {
    background-color: hotpink;
   }
   .LtOrg {
    background-color: coral;
   }
   .mstd {
    background-color: crimson   ;
   }